.main-content{
  background: rgb(255,208,48);
  background: linear-gradient(40deg, rgba(255,208,48,1) 100%, rgba(255,214,71,1) 100%);
  border-radius: 20px;
  margin-bottom: 50px !important;
}
.rounded-3.custom-box {
  padding: 100px;
  background-color: aliceblue;
  box-shadow: 1px 1px 3px rgb(197 192 192 / 10%);
}